body {
	background-color: black;
	background-image: url("../images/grid.jpg");
	background-size: cover;
}

/* Gameboard with gif as background */

#gameBoard  {
	width: 100%;
	height: 30em;
  background-image: url("../images/giphy (2).gif");
  background-size: cover;
  margin-top: 5%;
 }

/*Player Score Section*/

@font-face {
	font-family: 'TRON';
	font-style: normal;
	font-weight: normal;
	src: local('TRON'), url('TRON.woff') format('woff');
}

h1 {
	font-size: 80px;
	display: inline-block;
	margin: 2% 2% 0% 2%;
	text-decoration: underline;
	font-family: 'Russo One', sans-serif;
 }

.score {
	display: inline;
}

#playerOne {
	color: #01F5F5;
	margin-left: 10%;
}

#playerTwo {
	color: #F18323;
}

/* Bike/Player Section */
 .bike {
 	height: 4em;
 	width: 10%;
 	display: block;
 	border-radius: 20px;
	padding-left: 0%;
 }

#blueBike{
 	border: 5px solid #01F5F5;
 	border-radius: 20px;
 	position: relative;
 	top: 30%;
 	background-color: #01F5F5;
 }

 #orangeBike {
	border: 5px solid #F18323;
	position: relative;
	top: 50%;
	background-color: #F18323;
 }

 /*Media Query for Tablet Version*/

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

	h1 {
    font-size: 50px;
		margin: 2% 2% 0% 2%;
	}

	#gameBoard {
		margin-top: 6%;
	}

  .bike {
    width: 12%; 
  }

  #playerOne {
  	margin-left: 16%;

  }

 }